.grid{
    position: relative;
}
.top-section{
    position: absolute;
    left: 13%;
    right: 0;
    margin-top: 15px;
    padding-left: 13%;
}

.left-section {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 5%;
    right: 60%;
    display: flex;
    flex-direction: column;
}

.bottom-section{
    position: absolute;
    top: 330px;
    bottom: 0;
    left: 20%;
    right: 50%;
}

.grid button{
    border: 5px solid #ec9bc1;
    font-size: 0.8em;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 16px;
}

.grid button i{
    margin-left: -20px;
    margin-top: -20px;
    display: none;
    font-size: 3em;
}

.bottom-section button:first-of-type{
    margin-top: 154px;
    margin-left: 8%;
}

.bottom-section button:nth-of-type(2){
    margin-top: -87px;
    margin-left: 15%;
}

.bottom-section button:nth-of-type(3){
    margin-top: -170px;
    margin-left: 15%;
}


@media screen and (min-width: 1400px) {
    .left-section button:first-of-type{
        margin-left: 19%;
        margin-top: 70px;
    } 

    .left-section button:last-of-type{
        margin-left: -4%;
        margin-top: 332px;
    }

    .subtitle{
        top: 525px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .subtitle{
        top: 440px;
        left: 40%
    }

    .left-section button:first-of-type{
        margin-left: 19%;
        margin-top: 70px;
    } 

    .left-section button:last-of-type{
        margin-left: -4%;
        margin-top: 259px;
    }

    .bottom-section button:first-of-type{
        margin-top: 83px;
    }
    
    .bottom-section button:nth-of-type(2){
        margin-top: -132px;
        margin-left: 15%;
    }
    
    .bottom-section button:nth-of-type(3){
        margin-top: -208px;
        margin-left: 12%;
    }
    
}

@media screen and (min-width: 993px) and (max-width: 1199px) {

    .subtitle{
        top: 400px;
    }

    .grid button{
        border: 5px solid #ec9bc1;
        font-size: 0.8em;
        width: 8px;
        height: 8px;
        padding: 12px;
    }

    .left-section button:first-of-type{
        margin-left: 18%;
        margin-top: 45px;
    } 

    .left-section button:last-of-type{
        margin-left: -3%;
        margin-top: 217px;
    }

    .bottom-section button:first-of-type{
        margin-top: 16px;
    }
    
    .bottom-section button:nth-of-type(2){
        margin-top: -161px;
        margin-left: 15%;
    }
    
    .bottom-section button:nth-of-type(3){
        margin-top: -215px;
        margin-left: 12%;
    }
}

@media screen and (max-width: 992px) {

    .subtitle{
        top: 350px
    }

    .top-section{
        margin-top: 5px;
    }

    .grid button{
        border: 5px solid #ec9bc1;
        font-size: 0.8em;
        width: 8px;
        height: 8px;
        padding: 8px;
    }

    .left-section button:first-of-type{
        margin-left: 18%;
        margin-top: 23px;
    } 

    .left-section button:last-of-type{
        margin-left: -4%;
        margin-top: 163px;
    }

    .bottom-section{
        top: 156px;
    }

    .bottom-section button:first-of-type{
        margin-top: 103px;
    }
    
    .bottom-section button:nth-of-type(2){
        margin-top: -37px;
        margin-left: 15%;
    }
    
    .bottom-section button:nth-of-type(3){
        margin-top: -86px;
        margin-left: 9%;
    }
}

.grid button:hover{
    background-color: #ec9bc1;
    border-color: #ec9bc1;
}

.grid button:hover{
    background-color: #ec9bc1;
    border-color: #ec9bc1;
}

.grid button:hover.predict{
    background-color: transparent;
}

.grid button.warning.predict i{
    color: #FEAD77;
}

.grid button.warning.predict:hover i{
    color: #ffc8a3;
}

.grid button.success.predict i{
    color: #9EB356;
}

.grid button.success.predict:hover i{
    color: #c4d785;
}

.grid button.danger.predict i{
    color: #dc3545;
}

.grid button.danger.predict:hover i{
    color: #f96775;
}

.grid button.predict {
    border-color: transparent;
}

.grid button.predict i {
    display: inline-block;
}

.top-section button:first-of-type{
    margin-right: 7%;
    margin-left: 8%;
}

.top-section button:nth-of-type(2){
    margin-right: 11%;
    margin-left: 13%;
}

.top-section button:nth-of-type(3){
    margin-right: 11%;
    margin-left: 8%;
    margin-top: 15px;
}

.subtitle{
    position: absolute;
    left: 67%;
}

.subtitle ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.6em;
}

.subtitle ul li span{
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.subtitle ul li span.success i{
    color: #9EB356;
}
.subtitle ul li span.warning i{
    color: #FEAD77;
}
.subtitle ul li span.danger i{
    color: #dc3545;
}